@{
    ViewBag.Title = "SampleController";
    Layout = "~/Views/Shared/_LayoutPageMaster.cshtml";
}

<!--for header-->
<script src="~/JavaScripts/Sample.js"></script>

<!--body-->
<div style="width: 100%; height: 100%; overflow:scroll;">
    sample controller
    <input type="text" onchange="" />
    <input type="button" value="Click" onclick="clicker()" />


    @*
        <div style="width: 5000px; height:5000px; background-color: red;">

        </div>
    *@
</div>

